.highlight {
    background-color: #000000;
}
#header-example {
    color: green;
    border: 2px whitesmoke;
}

#color-example {
    color: red;
    border: 1px whitesmoke;
}

#list-example {
    color: cyan;
    list-style-type: none;
}
#text-example {
    font-family: "Arial";
    font-size: 10px;
    text-transform: capitalize;
    text-decoration: underline;
    
}